force-app/main/default/flows/Create_Product_Order-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Evaluate_Service</name>
        <label>Evaluate Service</label>
        <locationX>279</locationX>
        <locationY>511</locationY>
        <actionName>CreditServices_Evaluate__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <inputParameters>
            <name>Evaluate_input_creditRating</name>
            <value>
                <elementReference>selectedAccount.Credit_Rating__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Evaluate_input_orderAmount</name>
            <value>
                <elementReference>Order_Amount</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PaymentTerms</assignToReference>
            <name>paymentTerm</name>
        </outputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product__c</picklistField>
        <picklistObject>Product_Order__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Product Order  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Product Order</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>277</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Order_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Amount__c</field>
            <value>
                <elementReference>Order_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>PaymentTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>267</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedAccount.Credit_Rating__c</assignToReference>
            <field>Credit_Rating__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>419</locationX>
        <locationY>699</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayResult</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="1">Order has been created. &lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="1">Order Id: {!NewOrder.Id}&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="1">Payment Terms: {!PaymentTerms}&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Product_Info</name>
        <label>Get Product Info</label>
        <locationX>269</locationX>
        <locationY>245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Evaluate_Service</targetReference>
        </connector>
        <fields>
            <name>GetOrderInfo</name>
            <fieldText>Create Order for {!selectedAccount.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Order_Name</name>
            <dataType>String</dataType>
            <fieldText>Order Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Name</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Order_Amount</elementReference>
            </defaultValue>
            <fieldText>Order Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <helpText>Enter product Infomation</helpText>
    </screens>
    <startElementReference>GetAccountInfo</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Order__c</objectType>
    </variables>
    <variables>
        <name>PaymentTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
