force-app/main/default/flows/Get_Credit_Rating-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Credit_Rating_Service</name>
        <label>Get Credit Rating Service</label>
        <locationX>339</locationX>
        <locationY>305</locationY>
        <actionName>CreditServices_CreditRating__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateCreditRating</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditRating</assignToReference>
            <name>creditRating</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Get Credit Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Credit Rating</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>335</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Rating</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedAccount.AccountNumber</assignToReference>
            <field>AccountNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCreditRating</name>
        <label>UpdateCreditRating</label>
        <locationX>342</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Display_Credit_Rating</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Rating__c</field>
            <value>
                <elementReference>CreditRating</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Display_Credit_Rating</name>
        <label>Display Credit Rating</label>
        <locationX>341</locationX>
        <locationY>515</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayResults</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">{!SelectedAccount.Name}&amp;apos;s&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">credit rating is {!CreditRating}&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Credit_Rating</name>
        <label>Get Credit Rating</label>
        <locationX>338</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Credit_Rating_Service</targetReference>
        </connector>
        <fields>
            <name>GetCreditRatingTitle</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Get Credit Rating&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">Click &amp;apos;Next&amp;apos; to get credit rating for &lt;B>{!SelectedAccount.Name}&lt;/B>&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GetAccountInfo</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
